p{
    cursor: alias;
}
a:link,a:visited{
    text-decoration: none;
    color: lemonchiffon;
    width: 50px;
    text-align: center;
    font-weight: bold;
}
a:hover{
    background-color: chocolate;
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
    width: 250px;
    text-align: center;
}
li{
    visibility: visible;
    display: inline;
    padding: 3px 5px;
}