div{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    transition: width 2s,height 1s,transform 1s;
    transition-delay: 1s;
}
div:hover{
    width: 200px;
    height: 200px;
    transform:rotate(180deg);
}